// Styling for the canvas
#canvas{
  position:absolute;
  z-index: -5;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: $gray-100;
}


svg {
  display: block;
  margin: 0 auto;
}

.motion-text{
  font-size: 3pt;
  fill: $brand-01;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

polygon {
  stroke:  $brand-01;
}

