$edited: true;
$brand-01: #fc00f6;
$brand-02: #e6f84d;
$brand-03: #29f3f8;
$ui-01: #cc3c95;
$ui-02: #20343e;
$ui-03: #152935;
$ui-04: #20343e;
$ui-05: #7c38da;
$map-01: #f9f8de;
$map-02: #ffff99;
$map-03: #e7f94d;
$map-04: #EBDDA0;
$map-05: #efc2f2;
$map-06: #FE5AEB;
$map-07: #C861C4;
$map-08: #000;
$map-invalid: #f2f5f4;
$map-no: #423c3e;
$text-01: #ffffff;
$text-02: #dfe6eb;
$text-03: #8c9ba5;
$inverse-01: #000647;
$field-01: rgba(255, 255, 255, .1);
$support-01: #ff5050;
$support-02: #8cd211;
$support-03: #efc100;
$support-04: #7cc7ff;
$use-layer: true;
$input-border: 1px solid transparent;
$input-label-weight: 700;
$button-font-weight: 700;
$button-font-size: .875rem;
$button-border-radius: 0;
$button-height: 40px;
$button-padding: 0 1rem;
$button-padding-sm: 0 .5rem;
$button-border-width: 2px;
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 .25rem;
$accordion-title-margin: 0 0 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;
$card-text-align: center;
$card-flex-align: center;
$checkbox-border-width: 2px;
$snippet-background-color: $field-01;
$content-switcher-border-radius: 8px;
$content-switcher-option-border: 1px solid $brand-01;
$data-table-heading-transform: uppercase;
$data-table-heading-border-bottom: 1px solid $brand-01;
$data-table-row-height: 2rem;
$modal-border-top: $brand-01 4px solid;
$modal-footer-background-color: $ui-03;
$progress-indicator-bar-width: 1px inset transparent;
$progress-indicator-stroke-width: 5;
$progress-indicator-line-offset: .625rem;
$radio-border-width: 2px;
$structured-list-padding: 2rem;
$structured-list-text-transform: uppercase;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
