.scatter {
  display: block;
  float:left;
  width: 20em;
  height: 22em;
}
.scatter:nth-child(2n+1) {
    clear: left;
}
.scatter-plot {
  width: 20em;
  height: 20em;
}
.tooltip-scp {
	width: 3em;
	height: 3em;
	background-color: #D3D3D3;
    text-align: center;
    font: 12px sans-serif;
    position: absolute;
}
.scatter text {
	fill:"#fff";
}