.scatter {
  display: block;
  float:left;
  width: 18.5em;
  height: 20em;
  margin:1em 3em 3em 0;
}
.scatter:nth-child(2n+1) {
    clear: left;
}
.scatter-plot {
  width: 18.5em;
  height: 18.5em;
  margin: 1em 0.5em 2em 1em;
}

.tooltip-scp {
	width: 7em;
  height: 4em;
  padding: 0.5em;
	background-color: #D3D3D3;
    text-align: center;
    font: 12px sans-serif;
    position: absolute;
}
.scatter text {
	fill:"#fff";
}